.features h2 {
  text-align: center;
  color: $very-dark-blue;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 15px;
}

.features {
  margin: 0 auto;
  margin-top: 100px;
  width: 90%;
}

.features p {
  text-align: center;
  color: $grayish-blue;
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 30px;
}

.features h3 {
  text-align: center;
  color: $grayish-blue;
  font-weight: 400;
  font-size: 18px;
  padding: 20px 0 20px 0;
  width: 200px;
  margin: 0 auto;
}

.tabs-line {
  color: $grayish-blue;
  opacity: 0.6;
}

.features-tabs-click {
  color: $very-dark-blue !important;
  border-bottom: 4px solid $soft-red;
}

.tab1,
.tab2,
.tab3 {
  cursor: pointer;
}

.tab1-content,
.tab2-content,
.tab3-content {
  text-align: center;
  margin-top: 60px;
}

.tab1-content img,
.tab2-content img,
.tab3-content img {
  width: 307.5px;
}

.tab1-content h2,
.tab2-content h2,
.tab3-content h2 {
  color: $very-dark-blue;
  margin-top: 30px;
}

.tab1-content p,
.tab2-content p,
.tab3-content p {
  color: $grayish-blue;
  margin-top: 15px;
}

.hide {
  display: none;
}

.more-info {
  background-color: $soft-blue;
  border: none;
  border-radius: 5px;
  color: #fff;
  width: 130px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: none;
}

@media (min-width: 576px) {
  .more-info {
    display: inline-block;
  }
}
@media (min-width: 992px) {
  .features h2 {
    font-size: 30px;
  }
  .features p {
    font-size: 18px;
    width: 540px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .tabs-line {
    display: none;
  }
  .features-tabs {
    display: flex;
    width: 700px;
    margin: 0 auto;
  }
  .show-line {
    display: flex;
    opacity: 0.6;
    width: 670px;
    margin: 0 auto;
  }
  .tab1-content,
  .tab2-content,
  .tab3-content {
    display: flex;
    text-align: left;
    justify-content: center;
  }
  .hide {
    display: none;
  }
  .tab-content-flex {
    width: 400px;
  }
  .tab-content-flex h2 {
    text-align: left;
    font-size: 28px;
  }
  .tab-content-flex p {
    text-align: left;
    font-size: 20px;
  }
  .tab1-content img,
  .tab2-content img,
  .tab3-content img {
    width: 350px;
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .tab1-content img,
  .tab2-content img,
  .tab3-content img {
    width: 450px;
    margin-right: 60px;
  }
}
.tab1:hover,
.tab2:hover,
.tab3:hover {
  color: $soft-red;
}

@media (min-width: 1920px) {
  .tab1-content img,
  .tab2-content img,
  .tab3-content img {
    width: 500px;
  }
}
