footer {
  background-color: $very-dark-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

footer a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
footer ul {
  list-style: none;
}
footer li {
  padding: 15px;
  cursor: pointer;
}

footer img {
  margin-top: 30px;
  margin-bottom: 15px;
}

.footer-fb {
  margin-right: 15px;
  cursor: pointer;
}
.footer-tw {
  margin-left: 15px;
  cursor: pointer;
}
.footer-socials {
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  footer ul {
    display: flex;
    align-items: center;
  }
  .footer-socials {
    margin-top: 25px;
    margin-right: 70px;
    margin-bottom: 10px;
  }
  footer img {
    margin-top: 15px;
    margin-left: 70px;
  }
  footer ul {
    margin-top: 0;
    margin-left: -15vw;
  }
}
@media (min-width: 1440px) {
  footer ul {
    margin-left: -35vw;
  }
}

footer a:hover {
  color: $soft-red;
}
