.nav-menu {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: $menu-color;
  overflow: hidden;
  transition: 0.5s;
}

.header-nav,
.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px 0 20px;
  margin-bottom: 40px;
}

.hidden {
  opacity: 0;
}

.white-line {
  color: $grayish-blue;
  opacity: 0.1;
  width: 90%;
  margin: 20px auto 20px auto;
}
.nav-ul {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
}
.nav-ul li {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 500;
  margin: 0 auto;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}
.login-btn {
  border: 3px solid #fff;
  border-radius: 6px;
  width: 90%;
  padding: 10px 0 10px 0;
}
.nav-bot {
  position: absolute;
  bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.nav-bot > img {
  margin-right: 15px;
}
.twitter {
  margin-left: 15px;
}

.header-nav {
  margin-bottom: 80px;
}

.white-bookmark {
  filter: brightness(0) invert(1);
}

.icon-hamburger {
  cursor: pointer;
}
.icon-close {
  cursor: pointer;
}

.header-nav-desktop ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.header-nav-desktop a {
  text-decoration: none;
  color: $very-dark-blue;
  padding: 25px;
  font-size: 17.5px;
  font-weight: 400;
}
.header-nav-desktop {
  display: none;
}

.red-btn {
  background-color: $soft-red;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
.red-btn a {
  color: #fff;
}

@media (min-width: 992px) {
  .icon-hamburger {
    display: none;
  }
  .header-nav-desktop {
    display: flex;
  }
  .logo-bookmark {
    height: 35px;
  }
}
@media (min-width: 1200px) {
  .logo-bookmark {
    margin-left: 35px;
  }
}

.header-nav-desktop a:hover {
  color: $soft-red;
}

.red-btn:hover {
  border: 1px solid $soft-red;
  background-color: #fff;
}
