* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}

img {
  overflow: hidden;
}

.nav-menu {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(37, 43, 70, 0.95);
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header-nav,
.nav-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 20px 0 20px;
  margin-bottom: 40px;
}

.hidden {
  opacity: 0;
}

.white-line {
  color: #9194a1;
  opacity: 0.1;
  width: 90%;
  margin: 20px auto 20px auto;
}

.nav-ul {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
}

.nav-ul li {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 500;
  margin: 0 auto;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

.login-btn {
  border: 3px solid #fff;
  border-radius: 6px;
  width: 90%;
  padding: 10px 0 10px 0;
}

.nav-bot {
  position: absolute;
  bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.nav-bot > img {
  margin-right: 15px;
}

.twitter {
  margin-left: 15px;
}

.header-nav {
  margin-bottom: 80px;
}

.white-bookmark {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.icon-hamburger {
  cursor: pointer;
}

.icon-close {
  cursor: pointer;
}

.header-nav-desktop ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-nav-desktop a {
  text-decoration: none;
  color: #252b46;
  padding: 25px;
  font-size: 17.5px;
  font-weight: 400;
}

.header-nav-desktop {
  display: none;
}

.red-btn {
  background-color: #fa5757;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.red-btn a {
  color: #fff;
}

@media (min-width: 992px) {
  .icon-hamburger {
    display: none;
  }
  .header-nav-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .logo-bookmark {
    height: 35px;
  }
}

@media (min-width: 1200px) {
  .logo-bookmark {
    margin-left: 35px;
  }
}

.header-nav-desktop a:hover {
  color: #fa5757;
}

.red-btn:hover {
  border: 1px solid #fa5757;
  background-color: #fff;
}

.hero {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.hero-img {
  width: 337.5px;
  position: relative;
}

.hero-flex h1 {
  text-align: center;
  color: #252b46;
  font-weight: 500;
  font-size: 32px;
  margin-top: 25px;
}

.hero-flex p {
  text-align: center;
  color: #9194a1;
  margin-top: 30px;
  line-height: 1.5;
}

.blue-btn {
  color: #fff;
  background-color: #5368df;
  margin-right: 5px;
}

.gray-btn {
  margin-left: 5px;
  background-color: #f5f4f4;
  color: #606060;
}

.gray-btn,
.blue-btn {
  padding: 15px;
  border: none;
  font-size: 17px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 35px;
  -webkit-box-shadow: 0px 10px 14px -1px rgba(0, 0, 0, 0.23);
          box-shadow: 0px 10px 14px -1px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

.buttons {
  text-align: center;
}

@media (min-width: 576px) {
  .hero-img {
    width: 500px;
  }
}

@media (min-width: 992px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95%;
  }
  .hero-flex {
    width: 400px;
  }
  .hero-flex h1 {
    text-align: left;
    font-size: 38px;
  }
  .hero-flex p {
    text-align: left;
    font-size: 20px;
  }
  .buttons {
    text-align: left;
  }
  .hero-img {
    width: 500px;
  }
}

@media (min-width: 1200px) {
  .hero-flex {
    width: 500px;
    margin-left: 30px;
  }
  .hero-img {
    width: 550px;
    padding-top: 4vh;
  }
}

@media (min-width: 1440px) {
  .hero-img {
    width: 700px;
  }
}

.blue-btn:hover {
  border: 1px solid #5368df;
  background-color: #fff;
  color: #5368df;
}

.gray-btn:hover {
  border: 1px solid #606060;
  background-color: #fff;
}

@media (min-width: 1920px) {
  .hero-img {
    width: 900px;
  }
  .hero-flex {
    width: 520px;
  }
}

.features h2 {
  text-align: center;
  color: #252b46;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 15px;
}

.features {
  margin: 0 auto;
  margin-top: 100px;
  width: 90%;
}

.features p {
  text-align: center;
  color: #9194a1;
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 30px;
}

.features h3 {
  text-align: center;
  color: #9194a1;
  font-weight: 400;
  font-size: 18px;
  padding: 20px 0 20px 0;
  width: 200px;
  margin: 0 auto;
}

.tabs-line {
  color: #9194a1;
  opacity: 0.6;
}

.features-tabs-click {
  color: #252b46 !important;
  border-bottom: 4px solid #fa5757;
}

.tab1,
.tab2,
.tab3 {
  cursor: pointer;
}

.tab1-content,
.tab2-content,
.tab3-content {
  text-align: center;
  margin-top: 60px;
}

.tab1-content img,
.tab2-content img,
.tab3-content img {
  width: 307.5px;
}

.tab1-content h2,
.tab2-content h2,
.tab3-content h2 {
  color: #252b46;
  margin-top: 30px;
}

.tab1-content p,
.tab2-content p,
.tab3-content p {
  color: #9194a1;
  margin-top: 15px;
}

.hide {
  display: none;
}

.more-info {
  background-color: #5368df;
  border: none;
  border-radius: 5px;
  color: #fff;
  width: 130px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: none;
}

@media (min-width: 576px) {
  .more-info {
    display: inline-block;
  }
}

@media (min-width: 992px) {
  .features h2 {
    font-size: 30px;
  }
  .features p {
    font-size: 18px;
    width: 540px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .tabs-line {
    display: none;
  }
  .features-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 700px;
    margin: 0 auto;
  }
  .show-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0.6;
    width: 670px;
    margin: 0 auto;
  }
  .tab1-content,
  .tab2-content,
  .tab3-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hide {
    display: none;
  }
  .tab-content-flex {
    width: 400px;
  }
  .tab-content-flex h2 {
    text-align: left;
    font-size: 28px;
  }
  .tab-content-flex p {
    text-align: left;
    font-size: 20px;
  }
  .tab1-content img,
  .tab2-content img,
  .tab3-content img {
    width: 350px;
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .tab1-content img,
  .tab2-content img,
  .tab3-content img {
    width: 450px;
    margin-right: 60px;
  }
}

.tab1:hover,
.tab2:hover,
.tab3:hover {
  color: #fa5757;
}

@media (min-width: 1920px) {
  .tab1-content img,
  .tab2-content img,
  .tab3-content img {
    width: 500px;
  }
}

.extension {
  margin: 0 auto;
  text-align: center;
  margin-top: 150px;
}

.extension h2 {
  font-size: 24px;
  color: #252b46;
  font-weight: 500;
}

.extension p {
  font-size: 16px;
  color: #9194a1;
  margin: 0 auto;
  width: 300px;
  margin-top: 18px;
  line-height: 1.6;
  margin-bottom: 50px;
}

.extension-chrome,
.extension-firefox,
.extension-opera {
  width: 300px;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 5px 11px -4px rgba(37, 43, 70, 0.4);
          box-shadow: 0px 5px 11px -4px rgba(37, 43, 70, 0.4);
}

.extension-chrome h3,
.extension-firefox h3,
.extension-opera h3 {
  color: #252b46;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 7px;
}

.min-version {
  color: #9194a1;
  font-size: 15px;
}

.extension-chrome button,
.extension-firefox button,
.extension-opera button {
  background-color: #5368df;
  border: none;
  color: #fff;
  border-radius: 5px;
  width: 230px;
  height: 45px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}

.extension-chrome > img,
.extension-firefox > img,
.extension-opera > img {
  margin-top: 30px;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .extension h2 {
    font-size: 30px;
  }
  .extension p {
    width: 600px;
    font-size: 20px;
  }
  .extension-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 500px;
  }
  .extension-chrome h3,
  .extension-firefox h3,
  .extension-opera h3 {
    font-size: 25px;
  }
  .min-version {
    font-size: 18px;
  }
  .extension-chrome button,
  .extension-firefox button,
  .extension-opera button {
    font-size: 17px;
  }
  .extension-firefox {
    margin-right: 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .extension-opera {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .extension-chrome {
    margin-right: 20px;
  }
}

.extension-chrome button:hover,
.extension-firefox button:hover,
.extension-opera button:hover {
  border: 1px solid #5368df;
  color: #5368df;
  background-color: #fff;
}

.faq {
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

.faq h2 {
  font-size: 24px;
  width: 230px;
  margin: 0 auto;
  font-weight: 500;
  color: #252b46;
  margin-top: 150px;
  margin-bottom: 20px;
}

.faq-p {
  font-size: 16px;
  line-height: 1.6;
  color: #9194a1;
  margin: 0 auto;
  margin-bottom: 50px;
}

.faq-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.faq h3 {
  font-size: 16px;
  text-align: left;
  color: #252b46;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 10px;
}

.faq-answer {
  color: #75798a;
  text-align: left;
  line-height: 1.6;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.faq hr {
  color: #9194a1;
  opacity: 0.6;
  margin-bottom: 15px;
  margin-top: 10px;
}

.red-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-filter: hue-rotate(125deg);
          filter: hue-rotate(125deg);
}

.faq button {
  background-color: #5368df;
  border: none;
  border-radius: 5px;
  color: #fff;
  width: 130px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 110px;
  cursor: pointer;
}

.faq-1,
.faq-2,
.faq-3,
.faq-4 {
  cursor: pointer;
}

.hide-line-faq {
  display: none;
}

@media (min-width: 992px) {
  .hide-line-faq {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .faq h2 {
    font-size: 28px;
    width: 500px;
  }
  .faq > p {
    width: 500px;
    font-size: 18px;
  }
  .faq h3 {
    font-size: 18px;
  }
  .faq-answer {
    font-size: 17px;
  }
}

@media (min-width: 1200px) {
  .faq {
    width: 700px;
  }
}

.faq-1 h3:hover,
.faq-2 h3:hover,
.faq-3 h3:hover,
.faq-4 h3:hover {
  color: #fa5757;
}

.newsletter {
  background-color: #5368df;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

.newsletter h2 {
  width: 350px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.newsletter span {
  font-size: 14px;
  letter-spacing: 3px;
}

.email-input {
  width: 330px;
  height: 50px;
  border-radius: 5px;
  border: none;
}

::-webkit-input-placeholder {
  padding-left: 20px;
  color: #9194a1;
  opacity: 0.7;
  font-size: 14px;
}

:-ms-input-placeholder {
  padding-left: 20px;
  color: #9194a1;
  opacity: 0.7;
  font-size: 14px;
}

::-ms-input-placeholder {
  padding-left: 20px;
  color: #9194a1;
  opacity: 0.7;
  font-size: 14px;
}

::placeholder {
  padding-left: 20px;
  color: #9194a1;
  opacity: 0.7;
  font-size: 14px;
}

.newsletter button {
  width: 330px;
  height: 50px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #fa5757;
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 50px;
  cursor: pointer;
}

.red-border {
  border: 2px solid #fa5757;
}

@media (min-width: 686px) {
  .newsletter button {
    width: 200px;
  }
}

@media (min-width: 992px) {
  .newsletter h2 {
    font-size: 32px;
    width: 420px;
  }
  .newsletter span {
    font-size: 16px;
  }
}

footer {
  background-color: #252b46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

footer a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

footer ul {
  list-style: none;
}

footer li {
  padding: 15px;
  cursor: pointer;
}

footer img {
  margin-top: 30px;
  margin-bottom: 15px;
}

.footer-fb {
  margin-right: 15px;
  cursor: pointer;
}

.footer-tw {
  margin-left: 15px;
  cursor: pointer;
}

.footer-socials {
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-socials {
    margin-top: 25px;
    margin-right: 70px;
    margin-bottom: 10px;
  }
  footer img {
    margin-top: 15px;
    margin-left: 70px;
  }
  footer ul {
    margin-top: 0;
    margin-left: -15vw;
  }
}

@media (min-width: 1440px) {
  footer ul {
    margin-left: -35vw;
  }
}

footer a:hover {
  color: #fa5757;
}
/*# sourceMappingURL=style.css.map */